body{
    font-family: 'Lato', ;
}
.container{
    margin-bottom: 30px;
}
.nav-link{
    color: black;
}
.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
  }
  
  .carousel-indicators .active {
    background-color: #444;
  }
  .carousel-indicators li{
    background-image: linear-gradient(rgb(244, 248, 17), rgb(241, 158, 4));
    height: 6px;
    border-radius: 10px;
}
.btn-design{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 7px 22px;
    margin-top: 10px;
}
.see-all{
    color: #FFA616;
    font-weight: 700px;
    font-size: medium;
    margin-left: 40px;
}
.card{
    margin-left: 30px;
    margin-right: 30pxpx;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.p-button{
    margin-left: 70px;
}
#rectangle {
    width: 112px;
    height: 8px;
    background-image: linear-gradient(rgb(244, 248, 17), rgb(241, 158, 4));
    border-radius: 8px;
  }
  .cat1{
      width:220px;
      box-shadow: 5px 5px 10px lightgray;
      border-radius: 8px;
  }
  .bag{
      margin-top: 115px;
  }
  .cat1 img{
      margin-left: 22px;
      padding: 20px;}
  .cat-text{
      font-size: 20px;
      font-weight: 600;
      color: black;
      text-align: center;
      padding-bottom: 10px;
  }
  .cat-banner{
      width: 100%;
      height: 100%;
      padding: 40px;
  }
  .about-us h1{
      text-align: center;
  }
  .about-us p{
    text-decoration: black;
    justify-content: center;
}
.contact-img{
    width:300px ;
    height: 350px;
}

#contact-us h1{
    text-align: center;
    
}
#rectangle1 {
    width: 160px;
    height: 8px;
    background-image: linear-gradient(rgb(244, 248, 17), rgb(241, 158, 4));
    border-radius: 8px;
  }
  #rectangle2 {
    width: 160px;
    height: 8px;
    background-image: linear-gradient(rgb(244, 248, 17), rgb(241, 158, 4));
    border-radius: 8px;
  }

  .form-submit{
      margin-left: 0px;
  }
  .footer{
      text-align: center;
  }